<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Index</h1>
  <p>This is an HTML file served up by Flask</p>
  <p style="color: rgb(255, 81, 0)">Below are the url avialable on this server</p>
  <p style="color: gb(255, 81, 0)">1. This is the default url http://127.0.0.1:5000</p>
  <p  style="color: rgb(81, 255, 0)">2. http://127.0.0.1:5000/post</p>
  <p style="color: red">3. http://127.0.0.1:5000/see_flask_py_content</p>
</body>

</html>